.heading{
    background-color: #583f6e;
    font-size: xx-large;
    font-weight:800 ;
    color: white;
}

.link:link{
    color: blue;
}

.link:visited{
    color: brown;
}

.link:hover{
    color: teal;
}